:root {
    --primary-font-family: "Poppins", sans-serif;
    --secondary-font-family: "Playfair Display", serif;
    --primary-btn-color: #9B8888;
    --launch-btn-color: #BDF9F6;
    --base-color: #F5F5F5;
}

h1{
    font-family: var(--primary-font-family);
    font-weight: bold;
    font-size: 50px;
}


h2{
    font-family: var(--secondary-font-family); 
    font-size: 24px;
}

p {
    font-family: var(--secondary-font-family);
    font-size: 16px;
    line-height: 1.5;
}

nav {
    padding: 20px 0;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li{
    display: inline;
    list-style: none;
    line-height: 42px;
    margin-left: 15px;
}

nav a {
    text-decoration: none;
    font-family: var(--primary-font-family);
    color: black;
    transition: all 100ms ease-in-out;
}

nav li.active a,
 nav a:hover {
    color: var(--primary-btn-color);
}

.logo {
    max-height: 50px;
}

.hero {
    background-color:var(--base-color);
    padding: 100px 0;
    text-align: center;
}

.home-contact-button {
    display: block;
    margin: auto;
    background-color: var(--primary-btn-color);
    border: none;
    border-radius: 4px;
    padding: 12px;
}


.home-contact-button a{
    font-size: 16px;
    line-height:27px;
    padding: 20px 50px;
    color: white;
    text-decoration: none;
}

.app-name {
    font-weight: bold;
}

.launch-button {
    background-color:var(--launch-btn-color);
    border: none;
    border-radius: 4px;
}

.launch-button a{
    color: var(--primary-btn-color);
    font-size: 16px;
    text-decoration: none;
}

.content-container {
    padding: 60px 0;
}


.content h3 {
    font-family: var(--secondary-font-family);
    font-weight: bold;
    font-size: 20px;
}

.nicole-photo {
    max-height: 550px;
}

.envelope-icon {
    font-size: 50px;
}

footer {
    margin: 60px 0;
}

footer h4 {
    font-size: 30px;
    font-family: var(--primary-font-family);
    font-weight: bold;
}

footer p {
    margin: 0;
}


footer .contact-box {
    background: var(--base-color);
    padding: 30px;
    border-radius: 10px;
}

footer .email-link {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

footer .email-link:hover {
    color: var(--primary-btn-color);
}

footer .social-links {
    margin-top: 30px;
}

footer .social-links a {
    margin: 0 20px;
    color: var(--primary-btn-color);
    background: var(--base-color);
    padding: 10px 14px;
    border-radius: 50%;
    font-size: 20px;
    transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
    color: white;
    background: var(--primary-btn-color);
}

@media (max-width: 960px) {
    nav a{
        font-size: 14px;
    }  

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 20px;
    }

    .hero {
        padding: 60px 0;
    }

    .project-description {
        text-align: center;
    }

    .content-container {
        text-align: center;
    }

    .content {
        margin-top: 30px;
    }
}
