:root {
    --primary-font-family: "Poppins", sans-serif;
    --secondary-font-family: "Playfair Display", serif;
    --primary-btn-color: #9B8888;
    --launch-btn-color: #BDF9F6;
    --base-color: #F5F5F5;
}

h1{
    font-family: var(--primary-font-family);
    font-weight: bold;
    font-size: 50px;
}


h2{
    font-family: var(--secondary-font-family); 
    font-size: 24px;
}

p {
    font-family: var(--secondary-font-family);
    font-size: 16px;
    line-height: 1.5;
}


.hero {
    background-color:var(--base-color);
    padding: 100px 0;
    text-align: center;
}

.home-contact-button {
    display: block;
    margin: auto;
    background-color: var(--primary-btn-color);
    border: none;
    border-radius: 4px;
}


.home-contact-button a{
    font-size: 16px;
    line-height:27px;
    padding: 20px 50px;
    color: white;
    text-decoration: none;
}

.app-name {
    font-weight: bold;
}

.launch-button {
    background-color:var(--launch-btn-color);
    border: none;
    border-radius: 4px;
}

.launch-button a{
    color: var(--primary-btn-color);
    font-size: 16px;
    text-decoration: none;
}

.content-container {
    padding: 100px 0;
}


.content h3 {
    font-family: var(--secondary-font-family);
    font-weight: bold;
    font-size: 20px;
}

.envelope-icon {
    font-size: 50px;
}


@media (max-width: 960px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 20px;
    }

    .hero {
        padding: 60px 0;
    }

    .project-description {
        text-align: center;
    }

    .content-container {
        text-align: center;
    }

    .content {
        margin-top: 30px;
    }
}
