h1{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
}


h2{
    font-family: "Playfair Display", serif;
    font-size: 18px;
    text-align: center;
}